{% extends "auctions/layout.html" %}

{% block title %}
  Oldiction | About
{% endblock %}

{% block body %}
    <h2>About</h2>

    <div class="spacing-startblock"></div>

    <br>

    <p class="bright-text">Oldiction is an auction website specialized in vintage and retro items from the 60's and the 70's.</p>
    <p class="bright-text">Sell and buy items with a biding system.</p>
    <p class="bright-text">This website is an exercice for CS50's online course: Web Programming with Python and JavaScript.</p>
{% endblock %}
